/*
 Design - https://society6.com/product/retro-80s-swimming-pool_print
 */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Bungee+Shade&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Alata", sans-serif;
  font-size: 2.5rem;
  color: #39a2d9;
  background-color: /*#f3f58c*/ #f7dea3;
  background-image: linear-gradient(#fcf3d7 0.15rem, transparent 0.15rem), linear-gradient(90deg, #fcf3d7 0.15rem, transparent 0.15rem);
  background-size: 0.75em 0.75em;
  overflow: hidden;
}
.sign {
  z-index: 1000;
  background-color: #fcf3d7;
  width: 40%;
  height: auto;
  min-width: 40rem;
  margin: 0 auto;
  border-radius: 2rem;
  transform: scale(0.65, 0.65);
}
.sign :after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem #39a2d9, 0 0 0 2rem #fcf3d7, 1rem -0.5rem 0 2rem rgba(147, 128, 181, 0.15);
}
.sign h1, .sign h2, .sign h3 {
  text-align: center;
  color: #39a2d9;
  padding-top: 3rem;
}
.sign h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 4.5rem;
  line-height: 5rem;
}
.sign h2 {
  font-family: "Bungee", cursive;
  font-size: 2.75rem;
  line-height: rem;
  padding: 1rem;
  background-color: #f45e91;
  color: #fcf3d7;
}
.sign h3 {
  font-family: "Bungee", cursive;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: #f45e91;
  padding: 1rem 0 2rem 0;
}
.sign ol {
  margin: 0 auto;
  padding: 5rem;
  list-style: none;
}
.palm-tree {
  position: absolute;
  top: 0;
  left: 0;
}
.palm-frond {
  position: absolute;
  width: 150px;
  height: 350px;
  top: 0rem;
  left: 0rem;
  background: conic-gradient(from -22deg, #399fa9 0deg 180deg, #30b2a0 180deg 360deg);
  border-radius: 0 100%;
  box-shadow: 4rem 4rem 0 0.5rem rgba(147, 128, 181, 0.75);
}
.divet {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}
.first {
  top: 15rem;
  left: 4rem;
  transform: rotate(40deg);
  border-bottom: 2.75rem solid #fc9bc2;
}
.second {
  top: 5rem;
  left: 5rem;
  transform: rotate(280deg);
  border-bottom: 2.75rem solid #9380b5;
}
.one {
  z-index: 1;
}
.two {
  transform: rotate(30deg);
  z-index: 0;
}
.three {
  transform: rotate(-50deg);
  z-index: 2;
}
.four {
  transform: rotate(-70deg);
  z-index: 2;
  top: -1rem;
  left: 5rem;
}
.parasol {
  position: absolute;
  z-index: 100;
  height: 400px;
  width: 400px;
  top: -14rem;
  right: -10rem;
  border-radius: 100%;
  background: repeating-conic-gradient(#fcf3d7 0deg 45deg, #39a2d9 46deg 90deg, #fcf3d7 91deg 100deg);
  box-shadow: 4rem 4rem 0 0.5rem rgba(147, 128, 181, 0.75);
}
.flip-flop {
  position: absolute;
  height: 80px;
  width: 40px;
  top: 12rem;
  right: 5rem;
  border-radius: 1rem;
  background-color: #fcf3d7;
  box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
}
.flip-flop:before {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 0;
  border: 5px solid #39a2d9;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 100px;
  width: 17px;
  height: 15px;
}
.flip-flop:after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  border: 5px solid #39a2d9;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 100px;
  width: 17px;
  height: 15px;
}
#second-flip-flop {
  transform: translateX(3.5rem);
}
.chair {
  position: absolute;
  width: 250px;
  height: 600px;
  top: -15rem;
  left: 3rem;
  background: repeating-linear-gradient(90deg, #fcf3d7, #fcf3d7 50px, #39a2d9 50px, #39a2d9 100px);
  border-left: 8px solid #ffdf82;
  border-right: 8px solid #ffdf82;
}
.pool {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 55%;
  left: 0%;
  background-color: #43cdd8;
  border: 20px solid #fcf3d7;
  box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
}
.pool:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, transparent 0 5rem, rgba(252, 243, 215, 0.5) 5rem 5.15rem, transparent 5.15rem 6.25rem), linear-gradient(132deg, transparent 0 5rem, rgba(252, 243, 215, 0.5) 5rem 5.15rem, transparent 5.15rem 6.25rem), linear-gradient(225deg, transparent 0 5rem, rgba(252, 243, 215, 0.5) 5rem 5.15rem, transparent 5.15rem 6.25rem), linear-gradient(315deg, transparent 0 5rem, rgba(252, 243, 215, 0.5) 5rem 5.15rem, transparent 5.15rem 6.25rem);
  background-size: 4.75rem 4.75rem;
  box-shadow: inset 5rem 5rem 0 2rem rgba(57, 162, 217, 0.65);
}
.inner-tube {
  position: absolute;
  bottom: 1rem;
  left: 45%;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: repeating-conic-gradient(#fcf3d7 0deg 45deg, #f45e91 46deg 90deg);
  box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
}
.inner-tube:after {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 25%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #43cdd8;
  box-shadow: inset -0.25rem -0.25rem 0 0.15rem #9380b5;
}
@media (max-height: 700px) {
  .sign {
    transform: scale(0.45, 0.45);
  }
  .inner-tube {
    left: 70%;
  }
}
