@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100vh;
  background-image: url("https://source.unsplash.com/3uTzZrHXHbw");
  background-size: cover;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.heading h1 {
  font-size: 100px;
  font-family: "Sigmar One", cursive;
  text-shadow: 10px 10px 2px rgba(6, 72, 88, 0.6);
  color: rgb(206, 242, 249);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sign {
  width: 300px;
  height: 100%;
  background-color: white;
  border: 3px solid #363636;
  box-shadow: 10px 4px 8px 6px rgba(0, 0, 0, 0.2),
    10px 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: all 3s ease-in-out;
}
.sign:hover {
  transform: rotate(2deg);
}
#invite_heading {
  background-color: #3d1;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

.sign li {
  list-style: none;
}

.sign li::before {
  content: "\f14a";
  float: left;
  font-family: "fontawesome";
}
#warning {
  background-color: rgb(245, 89, 227);
  padding: 10px;
}
.polaroid {
  width: 250px;
  padding: 10px 10px 20px 10px;
  border: 3px solid #363636;
  background-color: white;
  box-shadow: 8px 8px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all 3s ease-in-out;
}

.polaroid:hover {
  transform: rotate(2deg);
}
.rotate_right {
  float: left;
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(8deg);
}

div.rotate_left {
  float: left;
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}

.fa-swimmer {
  font-size: 50px;
  color: rgb(1, 204, 231);
}
