/*deetz style*/
background-color: #f6dda9;
opacity: 0.9;
background-image:  linear-gradient(#ffffff 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #ffffff 1.9000000000000001px, #f6dda9 1.9000000000000001px);
background-size: 38px 38px;
